@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@500&family=Varela+Round&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  font-family: 'Fredoka One', cursive;
  text-shadow: 2px 1px cornsilk;
  font-size: 60px;
  margin: 5px 20px 10px 20px;
}

.start-button {
  margin: 20px 20px 10px 20px;
}

.transparent-bg {
  position: relative;
  top: 150px;
  left: 0px;
  box-shadow: inset 0 0 40px rgba(255, 255, 255, 0.5);
  padding: 10px 40px 10px 40px;
  display: inline-block;
  border: groove 8px;
  border-color: green;
}

div.transparent-bg:hover {
  box-shadow: inset 0 0 220px rgba(173, 255, 47, 0.8);
}

.main-page {
  background-image: url('./images/luni.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 745px;
  width: 1366px;
}

button {
  border: none;
  background-color: transparent;
}

a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

p {
  margin: 0%;
  font-family: 'Saira Condensed', sans-serif;
}

h2 {
  font-family: 'Raleway', sans-serif;
}

h4 {
  font-family: 'Varela Round', sans-serif;
}

h5 {
  margin-bottom: 0%;
  margin-top: 10px;
  font-family: 'Varela Round', sans-serif;
}

nav {
  font-family: 'Raleway', sans-serif;
  margin: 20px;
  display: flex;
  justify-content: center;
}

.nav-links {
  padding: 5px;
  width: 600px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 20px;
  background-color: khaki;
}


.subtitle{
  font-family: 'Fredoka One', cursive;
  font-size: 46px;
  text-shadow: 1px 1px cornsilk;
}

.loading {
  border: 2px dashed black;
  border-radius: 100%;
  position: absolute;
  top: 200px;
  left: 460px;
    
}

.fill-screen {
  height: 400px;
}

.home-container {
  display: flex;
}

.dog-card {
  background-color: khaki;
  border-radius: 14px;
  border: 6px solid olivedrab;
  display: flex;
  max-height: 150px;
  box-shadow: 3px 6px 8px gray;
  width: 500px;
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dog-card-content {
  padding: 0% 5% 0% 5%;
  width: 300px;
}

.dog-card-image {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.details-page {
  background-color: lightseagreen;
  display: flex;
  flex-direction: row;
  box-shadow: inset 0 0 1300px rgba(173, 255, 47, 0.8);
  border-top: 2px solid whitesmoke;
  border-bottom: 2px solid whitesmoke;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 80px;
}

.details-dog-image {
  border-right: 2px solid whitesmoke;
  padding-right: 5px;
}

.details-page-info {
  display: inline-block;
  margin: 40px 0px 0px 100px;
  font-size: 20px;
  border-top: 2px solid whitesmoke;
}

.details-page-container {
  min-height: 1280px;
}

.details {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid whitesmoke;
}

.cards-container {
  min-height: 1280px;
  min-width: 740px;
  max-width: 740px;
}

.home-page-auxiliar {
  width: 200px;
}

.sort-container {
  border-radius: 10px;
  border: 2px solid seagreen;
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 220px;
  height: 100px;
  margin: 60px 5% 20px 5%;
}

.paginate-button-container {
  border-radius: 10px;
  background-color: springgreen;
  /* padding-left: 5%;
  padding-right: 5%; */
  margin-left: 10%;
  margin-right: 10%;
  
}

.paginate-button {
  font-family: 'Saira Condensed', sans-serif;
  width: 20px;
  background-color: springgreen;
  border: none;
}


.inputs {
  font-family: 'Raleway', sans-serif;
  height: 26px;
  border: 2px solid green;
  border-radius: 5px;
  width: 260px;
}

.filter-sort {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 80px;
}

select {
  width: 240px;
  border-radius: 5px;
  height: 24px;
  font-family: 'Raleway', sans-serif;
}
/* 
.filter-container {
  display: inline;
  
} */

.filter {
  font-family: 'Raleway', sans-serif;
  margin-top: 20px;
}

.sort {
  font-family: 'Raleway', sans-serif;
  height: 26px;
}

button.sort:hover {
  background-color: gold;
}

.sort-separator {
  margin: 0px 40px 0px 40px;
  border: 1px solid seagreen;
}

.send-button {
  font-weight: bold;
  width: 130px;
  background-color: lightgreen;
  font-family: 'Raleway', sans-serif;
  height: 26px;
  border-radius: 5px;
  border-color: green;
  margin-top: 40px;
  margin-bottom: 20px;
}

.radio-inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

li {
  font-family: 'Raleway', sans-serif;
  margin-top: 5px;
  margin-bottom: 5px;  
}

.remove-button {
  background-color: tomato;
  border-radius: 100%;
}

.form-image-container {
  display: flex;
  flex-direction: row;
  background-color:palegreen;
  border-radius: 20px;
  margin: 0px 80px 0px 80px;
  padding-top: 20px;
}

form {
  /* margin-right: 60px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weight-height-container {
  display: flex;
  flex-direction: row;
}

.wh-auxiliar {
  margin-right: 20px;
  margin-left: 20px;
}

.form-separator {
  margin-top: 40px;
  margin-bottom: 40px;
  border: 2px solid whitesmoke;
  margin-right: 80px;
}