@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  font-family: 'Fredoka One', cursive;
  text-shadow: 2px 1px cornsilk;
  font-size: 60px;
  margin: 5px 20px 10px 20px;
}

.start-button {
  margin: 20px 20px 10px 20px;
}

.transparent-bg {
  position: relative;
  top: 150px;
  left: 250px;
  box-shadow: inset 0 0 40px rgba(255, 255, 255, 0.5);
  padding: 10px 40px 10px 40px;
  display: inline-block;
  border: groove;
}

.main-page {
  background-image: url('./images/start.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 745px;
  width: 1366px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

nav {
  font-family: 'Raleway', sans-serif;
  margin: 20px;
  display: flex;
  justify-content: center;
}

.nav-links {
  padding: 5px;
  width: 600px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 20px;
  background-color: khaki;
}

.subtitle{
  font-family: 'Fredoka One', cursive;
  font-size: 46px;
  text-shadow: 1px 1px cornsilk;
}

.loading {
  border: 2px dashed black;
  border-radius: 100%;
}