.cards-container {
    min-height: 1280px;
    min-width: 740px;
    max-width: 740px;
}

.paginate-button-container {
    border-radius: 10px;
    background-color: lightsalmon;
    /* padding-left: 5%;
    padding-right: 5%; */
    margin-left: 10%;
    margin-right: 10%;
    
}
  
.paginate-button {
    font-family: 'Saira Condensed', sans-serif;
    width: 20px;
    background-color: lightsalmon;
    border: none;
}
  
  