.title {
    font-family: 'Fredoka One', cursive;
    text-shadow: 2px 1px cornsilk;
    font-size: 60px;
    margin: 5px 20px 10px 20px;
}

.subtitle{
    font-family: 'Fredoka One', cursive;
    font-size: 46px;
    text-shadow: 1px 1px cornsilk;
}
  
  